:root {
  --color-primary: #00d9ff;
  --color-secondary: #066cf1;
  --color-accent: #ff3400;
  --color-headings: #160760;
  --color-body: #918ca4;
}
/*TYPOGRAPHY*/
*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 5rem;
  }
}
/*LINKS*/
a {
  text-decoration: none;
}
.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  margin-left: 5px;
}
.link-arrow:after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/*BADGES*/
.badge {
  border-radius: 30px;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 500;
  padding: 5px 18px;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.badge__primary {
  background: var(--color-primary);
}
.badge__secondary {
  background: var(--color-secondary);
}
.badge__accent {
  background: var(--color-accent);
}
.badge--small {
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1rem;
  }
}
/*LISTS*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--egg {
  list-style-image: url(../images/egg.svg);
  padding-left: 3rem;
}
.list--egg .list__item {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .list--egg .list__item {
    padding: 0;
  }
}
/* ICONS */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--accent {
  fill: var(--color-accent);
}
.icon-container {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}
.icon-container--gold {
  background: gold;
}
.icon-small {
  width: 20px;
  height: 20px;
}
.icon-white {
  fill: white;
}

/*BUTTONS*/
.btn {
  padding: 1rem 3vw;
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  border-radius: 3rem;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 2rem 0;
  outline: 0;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--accent {
  background: var(--color-accent);
  color: rgb(214, 196, 196);
}
.btn--primary:hover {
  background: var(--color-secondary);
}
.btn--secondary:hover {
  background: var(--color-primary);
}
.btn--accent:hover {
  background: orange;
}
.btn-block {
  display: inline-block;
  width: 100%;
}
.btn-outline {
  background: #fff;
  color: dodgerblue;
  border: 2px solid var(--color-headings);
}
.btn-outline:hover {
  background: yellow;
}
.btn--large {
  padding-left: 6rem;
  padding-right: 6rem;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }
}
/*MEDIA OBJECTS*/
.media {
  display: inline-flex;
  font-weight: 400;
  margin: 1rem;
}

.media__body {
  padding-left: 1.5rem;
}

.media .media__text {
  font-style: italic;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .quote__text {
    padding-top: 2rem;
    padding-right: 1rem;
  }
}

/*INPUT*/
.input {
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: 0;
  color: var(--color-headings);
  border: 1px solid #fff;
  font-size: 3rem;
}

::placeholder {
  color: grey;
}
.input:focus {
  border: 1px solid dodgerblue;
}
.input-group {
  border-radius: 30px;
  border: 1px solid grey;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem;
  }
}
/*CARDS*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}
.card--secondary .badge--secondary {
  background: #02cdf1;
}
/*QUOTES*/
.quote {
  font-size: 3rem;
  font-style: italic;
  color: #5c5577;
  line-height: 1;
  padding-left: 2rem;
}
.quote__text:before {
  content: open-quote;
}
.quote__text:after {
  content: close-quote;
}
.quote__icon {
  position: relative;
  margin-bottom: 10px;
}
/*GRIDS*/
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1X2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*TESTIMONIALS*/
.testimonial {
  padding: 3rem;
}
.testimonial__image {
  position: relative;
}
.testimonial__image > img {
  width: 100%;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -30px;
}
@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 2rem;
  }
}
/*CALLOUTS*/
.callout {
  padding: 3rem;
  border-radius: 20px;
}
.callout--primary {
  background: var(--color-primary);
  color: #fff;
}
.callout__heading {
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
  .callout .grid--1X2 {
    grid-template-columns: 1fr auto;
  }
}
/*COLLAPSIBLES*/
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__rocket {
  width: 30px;
}
.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__rocket {
  transform: rotate(90deg);
  transition: transform 0.4s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
  opacity: 0.5;
}
.collapsible--expanded .collapsible__content {
  display: block;
  max-height: 100vh;
}
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 95%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*NAVIGATION BAR*/
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.nav__page__name {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 7px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}
/*HERO*/
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
}
.hero__content {
  margin-bottom: 10px;
}
/*DOMAIN BLOCK*/
.domain-block .input-group {
  box-shadow: 0 0 50px 10px rgb(209, 201, 201);
  border: 0;
  margin: 4rem 0;
}
.domain-block__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 4rem);
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .domain-block__prices {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
/*FOOTER*/
.footer {
  background: #232323;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.footer__brand {
  margin-top: 5rem;
  text-align: center;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}
.footer a {
  color: #777;
  transition: color 0.5s;
}
.footer a:hover {
  color: white;
}
.footer__section .list {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__grids {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__rocket {
    display: none;
  }
  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
  .footer__brand {
    width: 100%;
    max-height: 230px;
  }
}
/*FEATURES BLOCK*/
.feature-block__heading {
  line-height: 1;
  font-size: 4rem;
}
.feature__heading__caption {
  font-size: 2rem;
  margin-top: 1rem;
}
.feature__heading {
  font-size: 2.7rem;
  font-weight: 600;
}
.feature__text {
  line-height: 1.5;
  font-size: 2.2rem;
  opacity: 0.9;
}
.feature__image {
  position: relative;
}
.feature__image > img {
  width: 100%;
}
.feature .link {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
.feature .grid {
  margin-bottom: 10rem;
}
